@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');
* {
  margin: 0;
  font-weight: bold
}
*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  --header-height: 3rem;
  --nav-width: 76px;
  --first-color: #43494e;
  --first-color-light: #afa5d9;
  --white-color: #f7f6fb;
  --body-font: 'Titillium Web', sans-serif;
  --normal-font-size: 1rem;
  --z-fixed: 100;
}

body {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.contenido {
  width: 85%;
  margin: auto;
}



/*#region header-sidebar*/

.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  z-index: var(--z-fixed);
  transition: 0.5s;
}

.header_toggle {
  color: var(--first-color);
  font-size: 1.5rem;
  cursor: pointer;
}

.header_img {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}

.header_img img {
  width: 40px;
}

.body-content {
  position: relative;
  margin: var(--header-height) 0 0 0;
  padding: 0 1rem;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  transition: 0.5s;
  /* background-image: url("../img/background.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.l-navbar {
  position: fixed;
  top: 0;
  left: -30%;
  width: var(--nav-width);
  height: 100vh;
  background-color: var(--first-color);
  padding: 0.5rem 1rem 0 0;
  transition: 0.5s;
  z-index: var(--z-fixed);
}

.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.nav_logo,
.nav_link {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  padding: 0.5rem 0 0.5rem 1.5rem;
}

.nav_logo {
  margin-bottom: 2rem;
}

.nav_logo-icon {
  font-size: 1.25rem;
  color: var(--white-color);
}

.nav_logo-name {
  color: var(--white-color);
  font-weight: 700;
}

.nav_link {
  position: relative;
  color: var(--white-color);
  margin-bottom: 1.5rem;
  transition: 0.3s;
}

.nav_link:hover {
  color: var(--white-color);
}

.nav_icon {
  font-size: 1.25rem;
}

.show {
  left: 0;
}

.body-pd {
  padding-left: calc(var(--nav-width) + 1rem);
}

.active {
  color: var(--white-color);
}

.active::before {
  content: "";
  position: absolute;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: var(--white-color);
}

.height-100 {
  height: 100vh;
}

@media screen and (min-width: 768px) {
  body {
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    padding-left: calc(var(--nav-width) + 2rem);
  }

  .header {
    height: calc(var(--header-height) + 1rem);
    padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
  }

  .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    margin: 0 auto 50px 10px;
  }

  .userName{
    font-family: 'Titillium Web', sans-serif;
    color: #fff;
    font-weight: bold;
    
  }

  .l-navbar {
    left: 0;
    padding: 1rem 1rem 0 0;
  }

  .show {
    width: calc(var(--nav-width) + 156px);
  }

  .body-pd {
    padding-left: calc(var(--nav-width) + 188px);
  }
}
/*#endregion header-sidebar*/

/*#region cartas*/

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 40px;
  grid-column-start: 1;
}

.card-title {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: x-large;
  font-family: 'Titillium Web', sans-serif;
}

.card-title > a {
  text-decoration: none;
  color: inherit;
}

.card-subtitle {
  font-size: 0.825em;
  font-style: italic;
  color: var(--lightgrey);
  padding-bottom: 10px;
}

.card-cost {
  display: flex;
  align-items: center;
  font-size: 24px;
  padding-bottom: 10px;
}

.card {
  background: rgba(255, 255, 255, 0.5);
}

/* .btnComprar {
  display: flex;
  align-items: center;
  padding-top: 10px;
  border-radius: 4px;
  border: 2px solid currentColor;
  color: var(--first-color);
  background: none;
  cursor: pointer;
  font-weight: bold;
  position: absolute;
  bottom: 10px !important;
}

.btnComprar:hover {
  color: var(--white-color);
  background-color: var(--first-color);
  border-color: var(--first-color);
} */

/*#endregion cartas*/

.filtros {
  display: block;
  width: 100%;
  padding: 15px;
  border: none;
  margin-bottom: -80px;
  box-sizing: border-box;
  font-size: 1rem;
  text-align: right;
  text-decoration: none;
}



/*#region Buttons*/

.btnGeneral {
  background-color: #808699;
  border-color: #43494e;
  cursor: pointer;
  color: white;
  align-items: center;
  margin: 0 auto;
}
.btnGeneral:hover {
  background-color: #43494e;
  color: white;
}
.btn-primary{
  background-color:#f1b56f;
  font-size: large;
  border-color:#fff;
  font-weight:600
}
.btn-primary:hover{
  background-color:#f5a03e;
  border-color:#fff
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  background-color:#d18329;
  border-color:#fff
}
.btn-primary.focus,.btn-primary:focus{
  box-shadow:0 0 0 .2rem rgba(255, 161, 38, 0.5)
}
.btn-primary:active{
  color: #f1b56f !important; 
  background-color:#fff !important;
  box-shadow:0 0 0 .2rem rgba(255, 161, 38, 0.5) !important

}

.btn-secondary{
  color: #f1b56f;
  font-size: large;
  background-color:#fff;
  border-color:#f1b56f;
  font-weight:600
}
.btn-secondary:hover{
  background-color:#fff;
  border-color:#f5a03e
}
.btn-secondary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  background-color:#dee5ec;
  border-color:#d18329
}
.btn-secondary:focus{
  box-shadow:0 0 0 .2rem rgba(255, 161, 38, 0.5)
}
.btn-secondary:active{
  background-color:#f1b56f !important; 
  border-color:#fff !important;
  box-shadow:0 0 0 .2rem rgba(255, 161, 38, 0.5) !important

}

.btnComprar{
  width:100%;
  height:50px;
  text-align:center;
  margin: 5px;  
}

.btnDetalle{
  margin-bottom: 10px;
}
/*#endregion Buttons*/

/*#region Comments*/

.contComment{
  display: grid;
  width: 100%;

}

.comment{
  padding: 25px;
  position: relative;
}

.upComment{
  padding-bottom: 10px;
}
.userComment{
  font-size: 20px;
}

.dateComment{
  font-size: 13px;
  position: absolute;
  right: 0;
}
.descComment{
  color: #000;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/*#endregion Comments*/


/*#region Login*/
#loginBody {
  background-image: url(../img/login_bg.jpg);
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.page-login {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px 10px 13px 13px;
}

.btnLogin {
  width: 100%;
  font-size: 20px;
  margin-bottom: 15px;
}
.form-login {
  display: block;
}

.page-login h3 {
  font-family: 'Titillium Web', sans-serif;
  color: #585c69;
  font-size: xx-large;
}

/*#endregion Login*/

/*#region Detail*/
.textComment{
  margin: 0 -6px;
  border: 1px solid #c7c7c7;
  font: 13px "Sgy Open Sans", "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
  padding: 5px;
  resize: none;
  word-wrap: break-word;
}

.breakLine{
  border-bottom: 1px solid #000; 
  line-height: 0.1em;
  margin: 10px 0 20px
}

.descProd{
  font-size: large;
}

.costProd{
  float: right;
  
}

.cost{
  font-size: 36px
}

/*#endregion Detail*/



.jumbotron .display-4 {
  font-weight: bold;
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53c0fb;
  background: url("../img/cover_back.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 10px;
}

footer p {
  margin-bottom: 0.25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color 0.15s;
}

.light-text {
  color: white;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #43494e;
  border-radius: 5px;
  background: white;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}
